.contents {
  margin-top: 32px;
  margin-bottom: 32px;
}

.title {
  margin-top: 24px;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .contents {
    display: flex;
  }

  .graph {
    margin-left: 16px;
  }
}
